# Node / Frontend
node_modules/
dist/
.output/
.next/
.pnpm-debug.log

# Rust / Tauri
target/
src-tauri/target/
src-tauri/gen/
**/*.rs.bk

# Databases & Caches
*.db
*.db-journal
*.db-wal
*.db-shm
.cache/

# OS specific
.DS_Store
Thumbs.db
